@inherits LayoutComponentBase

<footer class="footer">
    <div class="footer-content">
        <p>Муниципальное бюджетное учреждение дополнительного образования «Детская школа искусств» © 2025 г.</p>
        <p>
            <span class="footer-content link-style">Agryz.dshi@yandex.ru</span> |
            <span class="footer-content link-style">+7(855)-512-21-43</span>
        </p>
    </div>
</footer>

