@inherits LayoutComponentBase

<footer class="footer">
    <div class="footer-content">
        <p>Муниципальное бюджетное учреждение дополнительного образования «Детская школа искусств» © 2025 г.</p>
        <p>
            <a class="footer-content">Agryz.dshi@yandex.ru</a> |
            <a class="footer-content">+7(855)-512-21-43</a>
        </p>
    </div>
</footer>

