@inherits LayoutComponentBase
@namespace DSHI.Components.Layout

<header class="header">
    <a href="https://agryz-dshi.ru/" class="logo-link">
        <img src="images/navlogo.png" alt="Логотип ДШИ г. Агрыз" width="250" class="logo">
    </a>
    <nav>
        <NavLink href="profile">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 6C9 4.34315 10.3431 3 12 3C13.6569 3 15 4.34315 15 6C15 7.65685 13.6569 9 12 9C10.3431 9 9 7.65685 9 6ZM12 1C9.23858 1 7 3.23858 7 6C7 8.76142 9.23858 11 12 11C14.7614 11 17 8.76142 17 6C17 3.23858 14.7614 1 12 1ZM9 13C6.23858 13 4 15.2386 4 18V21C4 21.5523 4.44772 22 5 22C5.55228 22 6 21.5523 6 21V18C6 16.3431 7.34315 15 9 15H15C16.6569 15 18 16.3431 18 18V21C18 21.5523 18.4477 22 19 22C19.5523 22 20 21.5523 20 21V18C20 15.2386 17.7614 13 15 13H9Z" fill="black" />
            </svg>
            Личный кабинет
        </NavLink>
        <NavLink href="notes">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.28016 22.75C4.15016 22.75 2.41016 21.01 2.41016 18.88C2.41016 16.75 4.15016 15.01 6.28016 15.01C8.41016 15.01 10.1502 16.75 10.1502 18.88C10.1502 21.01 8.41016 22.75 6.28016 22.75ZM6.28016 16.51C4.97016 16.51 3.91016 17.57 3.91016 18.88C3.91016 20.19 4.97016 21.25 6.28016 21.25C7.59016 21.25 8.65016 20.19 8.65016 18.88C8.65016 17.57 7.59016 16.51 6.28016 16.51Z" fill="#292D32" />
                <path d="M9.3999 19.6299C8.9899 19.6299 8.6499 19.2899 8.6499 18.8799V6.29989C8.6499 4.71989 9.5999 3.47989 11.1199 3.06989L17.3599 1.36989C18.6299 1.01989 19.6999 1.14989 20.4499 1.72989C21.2099 2.30989 21.5899 3.27989 21.5899 4.60989V16.8099C21.5899 17.2199 21.2499 17.5599 20.8399 17.5599C20.4299 17.5599 20.0899 17.2199 20.0899 16.8099V4.59989C20.0899 4.01989 19.9899 3.25989 19.5399 2.91989C19.0499 2.53989 18.2099 2.68989 17.7499 2.81989L11.5099 4.51989C10.6399 4.75989 10.1499 5.40989 10.1499 6.30989V18.8899C10.1499 19.2899 9.8099 19.6299 9.3999 19.6299Z" fill="#292D32" />
                <path d="M17.7201 20.6699C15.5901 20.6699 13.8501 18.9299 13.8501 16.7999C13.8501 14.6699 15.5901 12.9299 17.7201 12.9299C19.8501 12.9299 21.5901 14.6699 21.5901 16.7999C21.5901 18.9299 19.8501 20.6699 17.7201 20.6699ZM17.7201 14.4299C16.4101 14.4299 15.3501 15.4899 15.3501 16.7999C15.3501 18.1099 16.4101 19.1699 17.7201 19.1699C19.0301 19.1699 20.0901 18.1099 20.0901 16.7999C20.0901 15.4899 19.0301 14.4299 17.7201 14.4299Z" fill="#292D32" />
                <path d="M9.3998 10.27C9.0698 10.27 8.7698 10.05 8.6798 9.72003C8.5698 9.32003 8.7998 8.90003 9.1998 8.79003L20.6398 5.67003C21.0398 5.56003 21.4498 5.80003 21.5598 6.20003C21.6698 6.60003 21.4298 7.01003 21.0298 7.12003L9.5998 10.24C9.5298 10.26 9.4598 10.27 9.3998 10.27Z" fill="#292D32" />
            </svg>
            Ноты
        </NavLink>
        <NavLink href="theory">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 22.08C11.7 22.08 11.4 22.01 11.15 21.87C9.28 20.85 5.99 19.77 3.93 19.5L3.64 19.46C2.33 19.3 1.25 18.07 1.25 16.74V4.66001C1.25 3.87001 1.56 3.15001 2.13 2.63001C2.7 2.11001 3.44 1.86001 4.22 1.93001C6.42 2.10001 9.74 3.20001 11.62 4.38001L11.86 4.52001C11.93 4.56001 12.08 4.56001 12.14 4.53001L12.3 4.43001C14.18 3.25001 17.5 2.13001 19.71 1.94001C19.73 1.94001 19.81 1.94001 19.83 1.94001C20.56 1.87001 21.31 2.13001 21.87 2.65001C22.44 3.17001 22.75 3.89001 22.75 4.68001V16.75C22.75 18.09 21.67 19.31 20.35 19.47L20.02 19.51C17.96 19.78 14.66 20.87 12.83 21.88C12.59 22.02 12.3 22.08 12 22.08ZM3.98 3.42001C3.66 3.42001 3.37 3.53001 3.14 3.74001C2.89 3.97001 2.75 4.30001 2.75 4.66001V16.74C2.75 17.33 3.26 17.9 3.83 17.98L4.13 18.02C6.38 18.32 9.83 19.45 11.83 20.54C11.92 20.58 12.05 20.59 12.1 20.57C14.1 19.46 17.57 18.32 19.83 18.02L20.17 17.98C20.74 17.91 21.25 17.33 21.25 16.74V4.67001C21.25 4.30001 21.11 3.98001 20.86 3.74001C20.6 3.51001 20.27 3.40001 19.9 3.42001C19.88 3.42001 19.8 3.42001 19.78 3.42001C17.87 3.59001 14.79 4.62001 13.11 5.67001L12.95 5.78001C12.4 6.12001 11.62 6.12001 11.09 5.79001L10.85 5.65001C9.14 4.60001 6.06 3.58001 4.1 3.42001C4.06 3.42001 4.02 3.42001 3.98 3.42001Z" fill="#292D32" />
                <path d="M12 21.2402C11.59 21.2402 11.25 20.9002 11.25 20.4902V5.49023C11.25 5.08023 11.59 4.74023 12 4.74023C12.41 4.74023 12.75 5.08023 12.75 5.49023V20.4902C12.75 20.9102 12.41 21.2402 12 21.2402Z" fill="#292D32" />
                <path d="M7.75 9.24023H5.5C5.09 9.24023 4.75 8.90023 4.75 8.49023C4.75 8.08023 5.09 7.74023 5.5 7.74023H7.75C8.16 7.74023 8.5 8.08023 8.5 8.49023C8.5 8.90023 8.16 9.24023 7.75 9.24023Z" fill="#292D32" />
                <path d="M8.5 12.2402H5.5C5.09 12.2402 4.75 11.9002 4.75 11.4902C4.75 11.0802 5.09 10.7402 5.5 10.7402H8.5C8.91 10.7402 9.25 11.0802 9.25 11.4902C9.25 11.9002 8.91 12.2402 8.5 12.2402Z" fill="#292D32" />
            </svg>
            Теоретический материал
        </NavLink>
        <NavLink href="tests">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12.0098 16.9998C11.1598 16.9998 10.2998 16.7798 9.62982 16.3498L3.60982 12.4198C2.48982 11.6898 1.81982 10.4598 1.81982 9.11979C1.81982 7.77979 2.48982 6.54979 3.60982 5.81979L9.63982 1.89979C10.9798 1.02979 13.0698 1.02979 14.3998 1.90979L20.3898 5.83979C21.4998 6.56979 22.1698 7.79979 22.1698 9.12979C22.1698 10.4598 21.4998 11.6898 20.3898 12.4198L14.3998 16.3498C13.7298 16.7898 12.8698 16.9998 12.0098 16.9998ZM12.0098 2.74979C11.4398 2.74979 10.8698 2.87979 10.4598 3.15979L4.43982 7.07979C3.73982 7.53979 3.32982 8.27979 3.32982 9.11979C3.32982 9.95979 3.72982 10.6998 4.43982 11.1598L10.4598 15.0898C11.2898 15.6298 12.7498 15.6298 13.5798 15.0898L19.5698 11.1598C20.2698 10.6998 20.6698 9.95979 20.6698 9.11979C20.6698 8.27979 20.2698 7.53979 19.5698 7.07979L13.5798 3.14979C13.1598 2.88979 12.5898 2.74979 12.0098 2.74979Z" fill="#292D32" />
                <path d="M12.0002 22.7501C11.5602 22.7501 11.1102 22.6901 10.7502 22.5701L7.56018 21.5101C6.05018 21.0101 4.86018 19.3601 4.87018 17.7701L4.88018 13.0801C4.88018 12.6701 5.22018 12.3301 5.63018 12.3301C6.04018 12.3301 6.38018 12.6701 6.38018 13.0801L6.37018 17.7701C6.37018 18.7101 7.15018 19.7901 8.04018 20.0901L11.2302 21.1501C11.6302 21.2801 12.3702 21.2801 12.7702 21.1501L15.9602 20.0901C16.8502 19.7901 17.6302 18.7101 17.6302 17.7801V13.1401C17.6302 12.7301 17.9702 12.3901 18.3802 12.3901C18.7902 12.3901 19.1302 12.7301 19.1302 13.1401V17.7801C19.1302 19.3701 17.9502 21.0101 16.4402 21.5201L13.2502 22.5801C12.8902 22.6901 12.4402 22.7501 12.0002 22.7501Z" fill="#292D32" />
                <path d="M21.3999 15.75C20.9899 15.75 20.6499 15.41 20.6499 15V9C20.6499 8.59 20.9899 8.25 21.3999 8.25C21.8099 8.25 22.1499 8.59 22.1499 9V15C22.1499 15.41 21.8099 15.75 21.3999 15.75Z" fill="#292D32" />
            </svg>
            Тесты
        </NavLink>
        <NavLink href="/">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.24 22.27H15.11C10.67 22.27 8.53002 20.52 8.16002 16.6C8.12002 16.19 8.42002 15.82 8.84002 15.78C9.24002 15.74 9.62002 16.05 9.66002 16.46C9.95002 19.6 11.43 20.77 15.12 20.77H15.25C19.32 20.77 20.76 19.33 20.76 15.26V8.73998C20.76 4.66998 19.32 3.22998 15.25 3.22998H15.12C11.41 3.22998 9.93002 4.41998 9.66002 7.61998C9.61002 8.02998 9.26002 8.33998 8.84002 8.29998C8.42002 8.26998 8.12001 7.89998 8.15001 7.48998C8.49001 3.50998 10.64 1.72998 15.11 1.72998H15.24C20.15 1.72998 22.25 3.82998 22.25 8.73998V15.26C22.25 20.17 20.15 22.27 15.24 22.27Z" fill="#292D32" />
                <path d="M15.0001 12.75H3.62012C3.21012 12.75 2.87012 12.41 2.87012 12C2.87012 11.59 3.21012 11.25 3.62012 11.25H15.0001C15.4101 11.25 15.7501 11.59 15.7501 12C15.7501 12.41 15.4101 12.75 15.0001 12.75Z" fill="#292D32" />
                <path d="M5.84994 16.1001C5.65994 16.1001 5.46994 16.0301 5.31994 15.8801L1.96994 12.5301C1.67994 12.2401 1.67994 11.7601 1.96994 11.4701L5.31994 8.12009C5.60994 7.83009 6.08994 7.83009 6.37994 8.12009C6.66994 8.41009 6.66994 8.89009 6.37994 9.18009L3.55994 12.0001L6.37994 14.8201C6.66994 15.1101 6.66994 15.5901 6.37994 15.8801C6.23994 16.0301 6.03994 16.1001 5.84994 16.1001Z" fill="#292D32" />
            </svg>
            Выход
        </NavLink>
    </nav>
</header>
