@page "/profile"
@inherits LayoutComponentBase
@layout Layout.LayoutWithHeaderAndFooter
@inject NavigationManager Navigation
@rendermode InteractiveServer

@* @if (_isLoading)
{
    <div>Загрузка...</div>
}
else { *@
<div class="profile-container">
    <h2 class="profile-title" align="center">Личный кабинет</h2>

    <div class="form-group">
        <label for="firstName">Имя</label>
        <input type="text" class="form-control" id="firstName" placeholder="Ваше имя" @* @bind="_userProfile.Name"  *@/>
    </div>
    <div class="form-group">
        <label for="lastName">Фамилия</label>
        <input type="text" class="form-control" id="lastName" placeholder="Ваша фамилия" @* @bind="_userProfile.LastName"  *@/>
    </div>
    <div class="form-group">
        <label for="patronymic">Отчество</label>
        <input type="text" class="form-control" id="patronymic" placeholder="Ваше отчество" @* @bind="_userProfile.MiddleName"  *@/>
    </div>
    <div class="form-group">
        <label for="login">Логин</label>
        <input type="text" class="form-control" id="login" placeholder="Ваш логин" @* @bind="_userProfile.Login"  *@/>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control" id="password" placeholder="Ваш пароль" @* @bind="_userProfile.Password" *@ />
        <button class="go-to-collections-button" title="Перейти к моим коллекциям">
            <svg width="34" height="31" viewBox="0 0 37 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M18.5002 33.2521L15.9022 30.8871C6.67516 22.52 0.583496 17.0017 0.583496 10.2292C0.583496 4.71083 4.91933 0.375 10.4377 0.375C13.5552 0.375 16.5472 1.82625 18.5002 4.11958C20.4531 1.82625 23.4452 0.375 26.5627 0.375C32.081 0.375 36.4168 4.71083 36.4168 10.2292C36.4168 17.0017 30.3252 22.52 21.0981 30.905L18.5002 33.2521Z" fill="#560606" />
            </svg>
        </button>
    </div>
    <div class="form-group">
        <div class="save-button-container">
            <button class="save-button">Сохранить</button>
        </div>
    </div>
</div>
@* } *@
